/**
 * Preformatted code
 * Code typography styles for the <code> and <pre> elements
 */

// Inline and block code styles
code,
pre {
	padding: 0 3px 2px;
	font-family: $font-family-mono;
	@include font-size($type-small);
	color: $color-code;
	tab-size: 3;
}

// Inline code
code {
	padding: 2px 4px;
	color: $color-code;
	background-color: $color-code-bg;
}

.code-lrg {
	line-height: 1.5;
	// @include font-size(13);
	display: block;
	text-align: left;
	padding: 1em 1em 1em 110px;
	margin: 10px 0;
	position: relative;
	word-wrap: break-word;
	color: #fff;
	background-color: $blueDark;

	&:before {
		content: attr(data-before);
		position: absolute;
		top: 0; left: 0; bottom: 0;
		width: 90px;
		padding: 1em 0;
		background-color: $blue;
		display: block;
		text-align: center;
		font-weight: $font-weight-bold;
	}
}

// Blocks of code
pre {
	display: block;
	padding: $baseline / 2;
	margin: $baseline/2 0 $baseline;
	// line-height: $leading-base;
	color: $color-pre;
	background-color: $color-pre-bg;
	white-space: pre;
	overflow: auto;
	// white-space: pre-wrap;
	// word-break: break-all;
	// word-wrap: break-word;

	// Account for some code outputs that place code tags in pre tags
	& code {
		padding: 0;
		color: $color-pre;
		background-color: $color-pre-bg;
		border: 0;
	}
}

// Enable scrollable blocks of code
.pre--scrollable {
	max-height: 340px;
	overflow-y: scroll;
}


.highlight  {
	background: #ffffff;

	pre {
		line-height: 1;

		.demo-code & {
			margin-top: 0;
		}
	}
	code {
		@include font-size($type-small);
		line-height: 1.2;
	}

}
.highlight {
    background: #fff
}

.highlight .h {
    color: #333;
    font-style: normal;
    font-weight: normal
}

.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il,.highlight .m {
    color: #945277
}

.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .s1 {
    color: #df5000
}

.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kt,.highlight .k,.highlight .o {
    font-weight: bold
}

.highlight .kt {
    color: #458
}

.highlight .c,.highlight .cm,.highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cp,.highlight .cs {
    color: #999;
    font-weight: bold
}

.highlight .cs {
    font-style: italic
}

.highlight .n {
    color: #333
}

.highlight .na,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi {
    color: #008080
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #458;
    font-weight: bold
}

.highlight .no {
    color: #094e99
}

.highlight .ni {
    color: #800080
}

.highlight .ne {
    color: #990000;
    font-weight: bold
}

.highlight .nf {
    color: #945277;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: #000080
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .gd {
    color: #000;
    background-color: #fdd
}

.highlight .gd .x {
    color: #000;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #aa0000
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000;
    background-color: #dfd
}

.highlight .gi .x {
    color: #000;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #800080;
    font-weight: bold
}

.highlight .gt {
    color: #aa0000
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .sr {
    color: #017936
}

.highlight .ss {
    color: #8b467f
}

.highlight .bp {
    color: #999
}

.highlight .gc {
    color: #999;
    background-color: #EAF2F5
}

.highlight {
	color: #333;
	background: #fff
}
