---
layout: default
navgroup: home
body-class: page-home
meta:
  title: Kickoff
---

<section class="wideBoy wideBoy--dark wideBoy--hero primary">
	<div class="l-container">
		<h1 class="wideBoy-title">
			<span class="logoStyle">Kick<span>off</span></span>
		</h1>
		<h2 class="wideBoy-subtitle">
			The lightweight front-end framework for creating scalable, performant and responsive sites.
		</h2>

		<a class="btn btn--site cta-whatsNew u-ml05" href="learn/"
			data-trak='{"category":"Home page","action":"Get started","label":"CTA"}'>Get Started</a>
		&bull;
		<a class="btn btn--site" href="https://github.com/TryKickoff/kickoff/releases/latest"
			data-trak='{"category":"Home page","action":"Whats new","label":"CTA"}'>What's new in <span class="currentVersion currentVersion--new"></span></a>

		<div class="l-mt1">
			<iframe src="https://ghbtns.com/github-btn.html?user=trykickoff&repo=kickoff&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="135" height="30"></iframe>
		</div>

	</div>
</section>


<section class="features wideBoy--bright wideBoy">
	<div class="l-container">
		<h1 class="wideBoy-title">Features</h1>
		<div class="frameworkHighlights g g--stack--narrow g--gutter l-mt2">
			<div class="g-col g-span6">
				<p><b>Unopinionated &amp; extendable</b><br>
					A few common UI elements, a grid &amp; some other base styles. The rest is up to you.</p>
			</div>
			<div class="g-col g-span6">
				<p><b>Rock-solid build tasks</b><br>
					We use gulp &amp; webpack to deliver the best task runner &amp; developer experience for your project.</p>
			</div>
			<div class="g-col g-span6">
			<p><b>Future proof</b><br>
				Build complex layouts with flexbox &amp; use ES2015 (ES6) for your javascript.</p>
			</div>
			<div  class="g-col g-span6">
				<p><b>Lean</b><br>
					CSS: 8.68 kB gzipped. JS: 2 kB gzipped. It is a boilerplate after all 😉</p>
			</div>
		</div>

		<hr class="sectionSplitter">

		<!-- section on CSS -->
		<div class="g g--gutter g--stack">
			<div class="g-col g-span6--mid">
				<h3>Intuitive CSS / Sass</h3>
				<p>Kickoff comes with a robust Sass-powered CSS framework; it provides many sensible defaults so that you can get your project up and running in the shortest possible time, and also includes  components </p>
				<p>Kickoff uses a <a href="/learn/css.html#namingscheme">bespoke naming scheme</a> for classnames, inspired loosely by the BEM naming scheme.</p>
				<p><a href="/learn/css.html" class="btn btn--site btn--site--dark">Our CSS approach</a></p>
			</div>
			<div class="g-col g-span6--mid">
{% highlight scss%}
/**
 * Below we have setup the breakpoints
 * that our app/site will use and
 * shown an example with our 3rd-party
 * media-query library
 */
$breakpoints: (
	narrow : 400px,
	mid    : 750px,
	wide   : 1000px,
	huge   : 1250px
);

.foo {
	@include media(">mid") {
		width: 50%;
	}
}
{% endhighlight %}
			</div>
		</div>

		<hr class="sectionSplitter">

		<!-- section on JS -->
		<div class="g g--gutter g--stack">
			<div class="g-col g-span6--mid">
				<h3>Unopinionated Javascript</h3>
				<p>Kickoff uses <a href="https://webpack.github.io/">Webpack</a> to bundle javascript modules but beyond that, it does not prescribe a way for you to write your JS. We believe that writing JS in a modular way is the future.</p>
				<p>We also use <a href="https://babeljs.io/">Babel</a> to allow developers to write ES2015 JavaScript right now in their projects, while providing support for older browsers.</p>
				<p><a href="/learn/js.html" class="btn btn--site btn--site--dark">Our Javascript approach</a></p>
			</div>
			<div class="g-col g-span6--mid">
{% highlight js%}
// This is our starter js file
import ready from 'lite-ready';

// Project-specific/non-npm modules here
import someModule from './modules/someModule';

// DOM ready
ready(() => {
	someModule();
});
{% endhighlight %}
				<small>The code above is part of our starter Javascript file ;)</small>
			</div>
		</div>

		<hr class="sectionSplitter">

		<!-- section on Tooling -->
		<div class="g g--gutter g--stack">
			<div class="g-col g-span6--mid">
				<h3>Awesome tooling</h3>
				<p>Kickoff is powered by the <a href="http://gulpjs.com/">Gulp</a> task runner. It is used extensively to ease common development bottlenecks and allow us developers to focus on creating the best work possible.</p>
			</div>
			<div class="g-col g-span6--mid">
				<h3>Continous delivery</h3>
				<p>Special attention has been made to ensure Kickoff works well with continuous delivery, if you develop that way. Find out more about Kickoff’s tooling <a href="/learn/tooling.html">in the docs</a>.</p>
			</div>
		</div>

		<hr class="sectionSplitter">

		<h3>Find out more</h3>
		<a href="/learn" class="btn btn--site btn--site--dark">Read our docs</a>
		&bull;
		<a href="/demos" class="btn btn--site btn--site--dark">see our demos</a>

	</div>
</section>

<div class="g g--stack--narrow">
	<a href="https://slackin-trykickoff.herokuapp.com/" title="Join Kickoff on Slack" class="g-col bigLink bigLink--secondary">
		<div class="l-container">
			<img src="/assets/dist/img/ui/slack-mark-white.png" alt="Slack logo" />
			Need real-time help? Find us on Slack
		</div>
	</a>
	<a href="https://blog.trykickoff.com" title="Read the blog" class="g-col bigLink bigLink--primary">
		<div class="l-container">
			<img src="/assets/dist/img/ui/medium-m-dark-100px.png" alt="Medium logo" />
			Read the blog
		</div>
	</a>
</div>

<section class="wideBoy wideBoy--bright get-started">
	<div class="l-container">
		<h3 class="wideBoy-title">Quick start</h3>
		<p>Install our <a href="https://github.com/trykickoff/generator-kickoff">Yeoman Generator</a>, it is the best way to get Kickoff each time you want to start a new project:</p>

{% highlight sh %}
# Install Yeoman and the Kickoff generator
npm install -g generator-kickoff yo

# Run the Kickoff Yeoman generator
yo kickoff
{% endhighlight %}

		<p>If you don't want to use the generator, clone the git repo:</p>

{% highlight sh %}
# clone the repo
git clone https://github.com/trykickoff/kickoff.git your-project-folder
{% endhighlight %}

		<h3>Find out more</h3>
		<a href="/learn" class="btn btn--site btn--site--dark">Read our docs</a>
		&bull;
		<a href="/demos" class="btn btn--site btn--site--dark">see our demos</a>

	</div>
</section>

<section class="showcase wideBoy--dark wideBoy">
	<div class="l-container">
		<h1 class="wideBoy-title l-mb0">Built with Kickoff</h1>
		<h2 class="wideBoy-subtitle">Hundreds of amazing sites across the web are being built with Kickoff. See below for a few of them:</h2>
	</div>

	<div class="showcaseList">
		{% for item in site.data.showcase %}
			{% if item.url != null %}<a href="{{ item.url }}" target="_blank" data-trak='{"category":"Home page","action":"Showcase item click","label":"{{ item.name }}"}'>{% endif %}
				<figure>
					<img src="/assets/dist/img/showcase/{{ item.img }}" alt="{{ item.name }}">
					<figcaption>{{ item.name }}</figcaption>
				</figure>
			{% if item.url != null %}</a>{% endif %}
		{% endfor %}
	</div>

</section>

<section class="statix wideBoy--bright wideBoy">
	<div class="l-container">
		<h3 class="wideBoy-title">Super-charge Kickoff using Statix</h3>
		<p>Statix is our static templating/rapid-prototyping tool, it makes the process of creating static HTML templates quick and easy.</p>

		<a href="/learn/statix.html" class="statixLogo">
				<svg version="1.0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 viewBox="0 0 209 60" enable-background="new 0 0 209 60" xml:space="preserve">
					<g>
						<path fill="#181830" d="M165.7,19.5h13.8l28.6,39.2h-13.8L165.7,19.5z"/>
						<path fill="#181830" d="M16.6,60C11.2,60,4.1,58.7,0,56.5l2.5-9.4c4.6,2.4,9.8,3.7,14.3,3.7c3.5,0,5.3-1.2,5.3-3.2
							c0-2.2-2.2-3-6.7-4.1C6.4,41.9,0.6,38.5,0.6,30.8c0-7.3,6.4-12.6,17.3-12.6c5.2,0,12.1,1.5,15.9,3.4l-2.6,9.3
							c-4.5-2.2-9.8-3.5-13.5-3.5c-3.1,0-4.8,1-4.8,3c0,2.1,2.4,3,6.8,3.9c9.3,2,14.8,5.1,14.8,12.9C34.4,54.2,28.2,60,16.6,60z"/>
						<path fill="#181830" d="M57.2,60c-9.7,0-14.9-4-14.4-14.3l0.6-14.9l-5.9-1l0.3-8.3l5.9-1.9l0.2-8.9h12.6L56.3,20h9.8l-0.3,10.2
							H55.4l-0.4,14.1c-0.2,3.6,1.9,5.1,5.1,5.1c1.6,0,3.4-0.4,5.1-1l1.5,10.1C63.7,59.5,61.2,60,57.2,60z"/>
						<path fill="#181830" d="M94.4,54c-2.8,3.3-5.9,6-11.3,6c-6.8,0-12-4.8-12-10.9c0-7.4,5.6-13.4,23.2-13.9v-0.8c0-4.1-2.1-6-6.9-6
							c-4.1,0-8.8,1.7-13.3,4l-2.7-9.5c4.1-2.2,10.6-4.6,18.1-4.6c13.6,0,18.1,6.2,17.9,17.1L107.2,47c0,2.7,0.5,3,3.2,3.2l-1.3,9.3
							c-8.5,1.1-12.7-1.2-14.5-5.5H94.4z M94.3,41.3c-8,0.9-11,2.4-11,5.9c0,2.5,2,4.2,4.9,4.2c2.6,0,4.7-1.1,6.1-2.6V41.3z"/>
						<path fill="#181830" d="M132.1,60c-9.7,0-14.9-4-14.4-14.3l0.6-14.9l-5.9-1l0.3-8.3l5.9-1.9l0.2-8.9h12.6l-0.1,9.4h9.8l-0.3,10.2
							h-10.5l-0.4,14.1c-0.2,3.6,1.9,5.1,5.1,5.1c1.6,0,3.4-0.4,5.1-1l1.5,10.1C138.6,59.5,136.1,60,132.1,60z"/>
						<path fill="#181830" d="M154.7,13.9c-4.7,0-7.7-2.4-7.7-6.9c0-4.6,3-7,7.7-7c4.8,0,7.7,2.4,7.7,7C162.3,11.5,159.5,13.9,154.7,13.9
							z"/>
						<polygon fill="#181830" points="148.2,58.7 148.2,20.2 161.2,18.6 161.2,58.7 	"/>
						<g>
							<path fill="#181830" d="M204.1,21.5L195,34l-4.4-6l4.7-6.5H204.1 M178.8,44.2l4.4,6l-4.7,6.5h-8.8L178.8,44.2 M208.1,19.5h-13.8
								l-6.2,8.5l6.9,9.4L208.1,19.5L208.1,19.5z M178.8,40.8l-13.1,17.9h13.8l6.2-8.5L178.8,40.8L178.8,40.8z"/>
						</g>
					</g>
				</svg>
			</a>
		<br>
		<a href="/learn/statix.html" class="btn btn--site btn--site--dark" data-trak='{"category":"Home page","action":"Statix info","label":"CTA"}'>Read docs</a>
		&bull;
		<a href="https://github.com/TryKickoff/statix" class="btn btn--site btn--site--dark" data-trak='{"category":"Home page","action":"Statix info","label":"CTA"}'>Git repo</a>
	</div>
</section>
