/**
 * Global app/site styles
 */
html {
	overflow-y: scroll;
}
body {
	background-color: $color-bg;
}


a {
	transition: all 150ms ease-in-out;
}

hr {
	margin: 70px;
}


/**
 * Default layout container
 */
.l-container {
	padding-left: #{$layout-margin}px;
	padding-right: #{$layout-margin}px;
	width: 95%;
	max-width: #{$layout-max-width}px;
	margin: 0 auto;
	// transform: translateZ(0);

	.lt-ie9 & {
		min-width: #{$layout-min-width}px;
	}

	// :first-child {
	// 	margin-top: 0;
	// }

// 	p a:link, ul a:link {
// 		font-weight: $font-weight-bold;
// 	}
// 	& .next {
// 		p a:link, ul a:link {
// 			font-weight: normal;
// 		}
// 	}
// }

}

/* ==========================================================================
   Masthead
   ========================================================================== */
.masthead {
	position: relative;
	z-index: 100;
	background-color: $color-primary;
	color: #fff;
	min-height: 50px;
	line-height: 45px;
	border-bottom: 3px solid #fff;

	// .l-container {
	// 	padding: 5px;
	// }

	@include respond-min($bp-single-col) {
		// position: fixed;
		// top: 0;
		// left: 0;
		// right: 0;

		.l-container {
			padding: 0;
			line-height: 50px;
		}
	}

}

.logo {
	font-weight: normal;
	margin: 0;
	@include font-size(30);
	text-align: center;
	line-height: 1.5;

	@include respond-min($bp-single-col) {
		float: left;
		margin: 0;
		@include font-size(30);
		text-align: left;
	}
}

.logoStyle {
	font-style: italic;

	&, a:link, a:visited {
		color: #fff;
	}
	font-weight: normal !important;
	letter-spacing: -0.01em;

	span {
		color: $color-secondary;
	}
}

.nav {
	font-family: $font-family-alt;
	font-style: italic;
	text-align: center;

	@include respond-min($bp-single-col) {
		float: right;
	}
}

.main-nav {
	@extend .unstyled;
	@include clearfix;
	overflow-x: auto;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	white-space: nowrap;

	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track {
		display: none !important;
	}

	> li {
		display: inline-block;
	}

	a {
		display: inline-block;
		padding: 0 .5em;
		@include font-size(18);
		line-height: 50px;
		height: 50px;
		color: #fff;

		&:hover {
			border-color: lighten($color-primary, 30%);
		}

		&.is-active {
			border-bottom: 6px solid #fff;
		}
	}
}


.github-link {
	background-color: darken($color-primary, 20%);
}

// Footer
.footer {
	padding-top: 20px;
	padding: 40px 0;
	background-color: $color-primary;

	&,
	a:link,
	a:visited {
		color: #fff;
	}

	a:link,
	a:visited {
		border-bottom: 2px solid rgba(#fff, 0.7);
		white-space: pre;
	}

	a:hover {
		opacity: .5;
	}

	p {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}

.footer-nav {
	margin-bottom: 1em;

	li {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.social-links a {
	display: block;
	margin-bottom: 5px;
}


/* ==========================================================================
   Home page
   ========================================================================== */
.wideBoy {
	padding: 50px 0;

	@include respond-min($bp-mid) {
		h1 {
			@include font-size(51);
		}
		h2 {
			@include font-size(28);
		}
	}
}
.wideBoy-title {
	font-family: $font-family-base;
	font-weight: normal;
}
.wideBoy--bright {
	& {
		color: $color-primary;
	}
}
.wideBoy--dark {
	& {
		color: #fff;
	}
}

.yo {
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 10px;

	background: url('#{$img-path}/ui/yeoman.png') left top no-repeat;
	background-size: 100%;

	overflow: hidden;
	text-align: left;
	text-indent: -999em;

	float: left;
}


.bigBoy {
	.logoStyle {
		margin-bottom: 0;
		margin-top: 0;
		font-weight: bold;
		margin-bottom: 1em;
		@include font-size(50);
	}

	h2 {
		margin-top: 0;
	}

	@include respond-min($bp-mid) {
		h1 {
			@include font-size(80);
			margin-bottom: 0.5em;
		}

		h2 {
			@include font-size(28);
		}

		p {
			font-size: 150%;
		}
	}
}

.wideBoy-info {
	font-size: 90% !important;
	margin-top: $baseline;
	margin-bottom: 0;
}

.primary {
	background-color: $color-primary;
	color: #fff;

	.btn {
		margin-top: 1em;
	}
}

.currentVersion--tag {
	background-color: lighten($color-primary, 10%);
	display: inline-block;
	padding: 0.3em 0.5em;
	border-radius: 5px;
	@include font-size(12);
	font-family: $font-family-mono;

	&, &:link, &:visited {
		color: #fff;
	}

	&:hover {
		background-color: lighten($color-primary, 15%);
	}
}

.cta-whatsNew {
	@include respond-min($bp-mid) {
		margin-left: $baseline;
	}
}

.btn--hollow {
	border: 2px solid;
	background-color: transparent;
	line-height: 2.3;

	&:hover {
		background-color: rgba(#fff, .2);
	}
}

.linkList {
	margin: 30px 0;
}

.contribute {
	background-color: $gray;
	overflow: hidden;
}

/**
 * Features
 */
.features {
	// border-top: 1px solid #000;
	background-color: #f1f1f1;
}

figure {
	margin: 0;
}


/*
   Showcase
   ========================================================================== */
.showcase {
	background-color: $blue;

	:last-child {
		margin-bottom: 0;
	}
}

.showcaseList {
	text-align: center;

		&, & a, &:visited {
			color: $color-link-default;
		}

	@include respond-min($bp-mid) {
		li {
			margin-bottom: 0px;
		}
	}

	figure {
		background-color: #fff;
		max-width: 475px;
		margin: 0 auto;
		display: block;
		position: relative;
	}

	li {
		// margin-bottom: 20px;
		padding: 5px;
	}

	figcaption {
		// line-height: 2;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba($color-primary, .8);
		padding: 0.5em;
		text-align: left;
		color: #fff;
		// opacity: 0;
		@include font-size($type-small);
		font-style: italic;
		font-family: $font-family-alt;
	}

	img {
		display: block;
	}

	a {
		display: block;
		&:hover {
			color: $color-link-hover;
		}
	}
}

.used {
	// margin-top: $baseline;
	background-color: darken($blue, 5%);
	padding: 1.5em;

	p {
		margin-bottom: 0;
	}
}

.statixLogo {
	max-width: 400px;
	width: 80%;
	margin: 0 auto;
	display: block;
}
/* ==========================================================================
   Next block
   ========================================================================== */
.nextTitle {
	font-style: italic;
	font-weight: normal;
	text-align: center;
	border-top: 10px solid #181830;
	margin-bottom: 0;
	line-height: 55px;
	height: 70px;
	margin-top: $baseline * 2;
}
.blockLinks {
	background-color: $blueDark;
	margin-bottom: $baseline;
}
.blockLink {
	padding: 1em;
	display: block;
	color: #fff;

	h3 {
		font-weight: normal;
		font-style: italic;
	}

	p {
		margin-bottom: 0;
	}

	code {
		background-color: $blue;
	}
}


/* ==========================================================================
   Demos
   ========================================================================== */
.media--link {
	display: block;

	.asset-font {
		width: 200px;
		@include font-size(100);
	}
}

.demo {
	position: relative;
	border: 1px solid $color-bg;

	& + & {
		margin-top: 50px;
	}

	// Only show code snippet when needed
	&.show-code {
		border: 1px solid #ddd;

		.demo-code {
			display: block;
		}

		.demo-src {
			display: inline-block;
		}

		.demo-visual {
			padding: $baseline;
		}
	}
}

.demo-src {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	@include font-size($type-smaller);
	text-align: right;
	padding: 1px 5px;

	&,
	&:link,
	&:visited {
		color: #a0a0a0;
		background-color: #f0f0f0;
	}

	&:hover {
		background-color: #ddd;
	}
}

.demo-visual {
	line-height: 1.5;
	transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955);

	h3 {
		margin-bottom: 5px;
	}

	code {
		white-space: pre;
	}
}

.demo-code {
	display: none;

	pre {
		margin-bottom: 0;
		max-height: 400px;
		overflow: auto;
	}
}

@font-face {
	font-family: 'icomoon';
	src: url('icomoon.woff?iigrq6') format('woff');
	font-weight: normal;
	font-style: normal;
}

.demoHeading {
	position: relative;
	padding-right: 30px;
}

.demoHeading-showCodeBtn {
	margin-left: 20px;
	vertical-align: middle;
	color: $color-secondary;
	cursor: pointer;

	&:hover,
	&.is-active {
		color: darken($color-primary, 15%);
	}

	&:after {
		content: '\e900';
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

/**
 * Grid demos
 */
.show-grid-button {
	margin: 0 auto $baseline;
	display: block;
}

.grid-block-link {
	display: block;
	min-height: 130px;
	text-align: center;

	&:hover {
		background-color: $color-primary;
		color: #fff;
	}

	h3 {
		margin-top: 0;
	}

	.asset-font {
		@include font-size(150);
		line-height: 60px;
		height: 70px;
	}

	:last-child {
		margin-bottom: 0;
	}
}

// Choreographic Grid Demo
.show-grid .grid-test .g-col {
	background-color: rgba($color-primary,0.1);
	padding: 6px;
}
.show-grid .grid-test.g-row {
	margin-bottom: 20px;
}
.show-grid .grid-test .g-split .g-col {
	background-color: rgba($blue, 0.3);
}
.show-grid .grid-test .g-shunt {
	background-color: rgba($red, 0.2);
}
.show-grid .grid-test [class*="g-pull"] {
	background-color: rgba($green, 0.3);
}
.show-grid .grid-test [class*="g-push"] {
	background-color: rgba($yellow, 0.3);
}
.show-grid .grid-test [class*="g-offset"] {
	background-color: rgba($color-primary, 0.4);
}

.grid-test .g-col.g-col--centered {
	text-align: center;
}
.class-tag {
	display: none;
}
// .show-grid .class-tag {
// 	position: absolute;
// 	top: -6px; right: 0;
// 	display: block;

// 	code {
// 		@include font-size(11);
// 	}
// }

.entry {
	padding-top: 50px;
}
.entry--title {
	margin-bottom: 0;
	font-weight: normal;
	font-style: italic;
}

/**
 * Docs/demo sidebar navigation
 */
.sidebar-nav {
	margin-bottom: 1em;

	a {
		// font-family: $font-family-alt;
		// font-style: italic;
		padding: .2em .5em .3em;
		border-left: 3px solid;
		display: block;
	}
	.is-active {
		background-color: $color-primary;
		border-color: $color-primary;
		color: #fff;
	}
}
.sidebar-subnav {
	margin-left: 1em;
}

// Docs disclaimer
.docs-footer {
	background-color: #FEFFDA;
	padding: 15px;
	text-align: center;
}

/**
 * Checklist page
 */
.well {
	min-height: 90px;
	padding: 30px;
	background-color: #f0f0f0;
	// margin: 0px -30px 0px;
	color: #333;

	code, pre {
		background-color: #fff;
		@include font-size(14);
		white-space: pre;
	}
}
.well--inner {
	margin-left: 0;
	margin-right: 0;
}

.checklistInfo {
	margin-bottom: 15px;
	margin-left: 30px;
	font-size: $font-size-base-px - 3;

	li {
		margin-bottom: 0.2em;
	}
}

.sectionSplitter {
	border-top-width: 5px;
	border-bottom: none;
	margin: $baseline * 2;
}

.btn--secondary {
	background-color: $color-primary;

	&,
	&:link,
	&:visited {
		color: #fff;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: darken($color-primary, 15%);
	}
}

@include respond-max($bp-single-col) {
	.github-logo {
		display: none;
	}
}

.code-lrg {
	line-height: 1.5;
	display: block;
	text-align: left;
	padding: 1em 1em 1em 110px;
	margin: 10px 0;
	position: relative;
	word-wrap: break-word;
	color: #fff;
	background-color: $blueDark;
	@include font-size(13);

	&:before {
		content: attr(data-before);
		position: absolute;
		top: 0; left: 0; bottom: 0;
		width: 90px;
		padding: 1em 0;
		background-color: $blue;
		display: block;
		text-align: center;
		font-weight: $font-weight-bold;
	}
}

.btn--bright {
	background-color: transparent;
	border: 3px solid #fff;
	line-height: 3.2;
	font-weight: bold;

	&,
	&:link,
	&:visited {
		color: #fff;
	}

	&:hover,
	&:active,
	&:focus {
		border-color: darken($orange, 20%);
		background-color: transparent;
		// color: darken($orange, 20%) !important;
	}
}

// Button Modifiers
// --------------------------------------------------
// These all follow the same sizing rules as above; text is 1em, space around it
// Large
.btn--large {
	@include font-size($type-large);
	line-height: 3;
	height:     3em;
	padding-right:2em;
	padding-left: 2em;
	border-radius: 6px;
}

// Small
.btn--small {
	@include font-size($type-small);
	line-height:1.5;
	height: 1.5em;
	padding-right:0.75em;
	padding-left: 0.75em;
	border-radius: 3px;
}

@mixin lang($language) {
	position: relative;
	margin-top: 20px;
	display: block;

	&:before {
		content: $language;
		position: absolute;
		bottom: 100%;
		margin-bottom: 10px;
		left: 0;
		@include font-size($type-small);
		color: $gray;
	}
}

.language-html {
	@include lang('<!-- HTML -->');
}
.language-css {
	@include lang('/* CSS */');
}
.language-js,
.language-javascript {
	@include lang('// Javascript');
}

.highlight {
	background: #fff;

	pre {
		line-height: 1;

		.demo-code & {
			margin-top: 0;
		}
	}
	code {
		@include font-size($type-small);
		line-height: 1.2;
	}

}
.highlight {
	background: #fff
}

.highlight .h {
    color: #333;
    font-style: normal;
    font-weight: normal
}

.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il,.highlight .m {
    color: #945277
}

.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .s1 {
    color: #df5000
}

.highlight .kc,.highlight .kd,.highlight .kn,.highlight .kp,.highlight .kr,.highlight .kt,.highlight .k,.highlight .o {
    font-weight: bold
}

.highlight .kt {
    color: #458
}

.highlight .c,.highlight .cm,.highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cp,.highlight .cs {
    color: #999;
    font-weight: bold
}

.highlight .cs {
    font-style: italic
}

.highlight .n {
    color: #333
}

.highlight .na,.highlight .nv,.highlight .vc,.highlight .vg,.highlight .vi {
    color: #008080
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #458;
    font-weight: bold
}

.highlight .no {
    color: #094e99
}

.highlight .ni {
    color: #800080
}

.highlight .ne {
    color: #990000;
    font-weight: bold
}

.highlight .nf {
    color: #945277;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: #000080
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .gd {
    color: #000;
    background-color: #fdd
}

.highlight .gd .x {
    color: #000;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #aa0000
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000;
    background-color: #dfd
}

.highlight .gi .x {
    color: #000;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #800080;
    font-weight: bold
}

.highlight .gt {
    color: #aa0000
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .sr {
    color: #017936
}

.highlight .ss {
    color: #8b467f
}

.highlight .bp {
    color: #999
}

.highlight .gc {
    color: #999;
    background-color: #EAF2F5
}

.highlight {
	color: #333;
	background: #fff
}

