<button class="sidebarReveal u-showBelowMid btn btn--site btn--site--dark">Reveal Docs nav</button>

<div class="sidebar u-showAboveMid">
	<ul class="sidebar-nav unstyled">
		<li><a href="/learn/index.html"{% if page.navactive == 'docsindex' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"Meet Kickoff"}'>Overview</a></li>
		<li><a href="/learn/get.html"{% if page.navactive == 'docsget' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"Get Kickoff"}'>Get Kickoff</a></li>
		<li><a href="/learn/checklist.html"{% if page.navactive == 'docschecklist' %} class="is-active"{% endif %}>Post-install checklist</a></li>
	</ul>

	<ul class="sidebar-nav unstyled">
		<li><a href="/learn/tooling.html"{% if page.navactive == 'docstooling' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"Tooling"}'>Tooling</a>
			{% if page.navactive == 'docstooling' %}
			<ul class="sidebar-subnav unstyled">
				<li><a href="#setup">Setup</a></li>
				<li><a href="#tasks">Gulp</a></li>
				<li><a href="#npm-run-scripts">npm scripts</a></li>
				<li><a href="#tooling-config">Tooling config</a></li>
			</ul>
			{% endif %}
		</li>
		<li><a href="/learn/css.html"{% if page.navactive == 'docscss' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"CSS"}'>CSS</a>
			{% if page.navactive == 'docscss' %}
			<ul class="sidebar-subnav unstyled">
				<li><a href="#how">Philosophy</a></li>
				<li><a href="#sass">Sass</a></li>
				<li><a href="#structure">Structure</a></li>
				<li><a href="#variables">Variables</a></li>
				<li><a href="#responsive">Responsive</a></li>
				<li><a href="#namingscheme">CSS Naming scheme</a></li>
			</ul>
			{% endif %}
		</li>
		<li><a href="/learn/js.html"{% if page.navactive == 'docsjs' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"Javascript"}'>Javascript</a>
			{% if page.navactive == 'docsjs' %}
			<ul class="sidebar-subnav unstyled">
				<li><a href="#structure">Structure</a></li>
				<li><a href="#browserify">Browserify</a></li>
				<li><a href="#babel">Babel</a></li>
				<li><a href="#npm">npm</a></li>
				<li><a href="#shims">Shims</a></li>
				<li><a href="#libs">Libraries</a></li>
			</ul>
			{% endif %}
		</li>
		<li><a href="/learn/html.html"{% if page.navactive == 'docshtml' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"HTML"}'>HTML</a>
			{% if page.navactive == 'docshtml' %}
			<ul class="sidebar-subnav unstyled">
				<li><a href="#skip">Skip content link</a></li>
				<li><a href="#socialmeta">Social meta tags</a></li>
				<li><a href="#iconmeta">Icon meta tags</a></li>
				<li><a href="#jquery">jQuery</a></li>
			</ul>
			{% endif %}
		</li>
		<li><a href="/learn/grid.html"{% if page.navactive == 'docsgrid' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"Grid"}'>The Grid</a>
			{% if page.navactive == 'docsgrid' %}
			<ul class="sidebar-subnav unstyled">
				<li><a href="#gridhow">How it works</a></li>
				<li><a href="#gridbasic">Setting up a grid</a></li>
				<li><a href="#gridoptions">Grid options</a></li>
				<li><a href="#gridgutters">Guttering</a></li>
				<li><a href="#gridstacking">Column Stacking</a></li>
				<li><a href="#gridcolumns">Column Span Classes</a></li>
				<li><a href="#gridalignment">Alignment</a></li>
				<li><a href="#gridnesting">Nesting</a></li>
				<li><a href="#gridequalheight">Equal Height Columns</a></li>
				<li><a href="#gridholdWidth">Holding a Column Width</a></li>
			</ul>
			{% endif %}
		</li>
		<li>
			<a href="/learn/yeoman.html"{% if page.navactive == 'docsyo' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"Yeoman"}'>The Yeoman generator</a>

			{% if page.navactive == 'docsyo' %}
			<ul class="sidebar-subnav unstyled">
				<li><a href="#installation">Installation</a></li>
				<li><a href="#usage">Usage</a></li>
				<li><a href="#subcommands">Sub-commands</a></li>
			</ul>
			{% endif %}
		</li>
		<li><a href="/learn/statix.html"{% if page.navactive == 'docsstatix' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"Statix"}'>Statix</a></li>
		<li><a href="/learn/snippets.html"{% if page.navactive == 'docssnippets' %} class="is-active"{% endif %} data-trak='{"category":"Docs nav","action":"IDE snippets"}'>IDE snippets</a></li>
	</ul>

</div>
