<footer class="footer">
	<div class="l-container">

		<h2 class="wideBoy-subtitle">Try Kickoff on your next project, its easy. <a href="/learn/get.html">Download it&nbsp;now</a></h2>

		<ul class="footer-nav l-list--floated unstyled">
			<li><a href="https://github.com/trykickoff/kickoff/" data-trak='{"category":"Footer link","action":"Github link"}'>Github</a></li>
			<li><a href="https://github.com/trykickoff/kickoff/issues" data-trak='{"category":"Footer link","action":"Github issue"}'>Issues</a></li>
			<li><a href="https://github.com/trykickoff/kickoff/releases" data-trak='{"category":"Footer link","action":"Github releases"}'>Releases</a></li>
		</ul>

		<p>Kickoff is <a href="http://github.com/trykickoff/kickoff">open-source</a> and maintained by <a href="http://mrmartineau.co.uk">Zander Martineau</a>, <a href="http://ashleynolan.co.uk">Ashley Nolan</a>, <a href="http://nicbell.net">Nic Bell</a>, the <a href="http://twitter.com/tmwTechTeam">@tmwTechTeam</a> and <a href="https://github.com/trykickoff/kickoff/graphs/contributors">a few other</a> kind souls.</p>

		<p>Kickoff is sponsored by <a href="http://tmwunlimited.com">TMWUnlimited&hellip;</a></p>

		<p><small>If you would like to contribute to the this documentation, please see our <a href="/learn/editing.html">editing instructions</a></small></p>
	</div>
</footer>
