<footer class="footer text-centre">
	<div class="l-container">
		<h2 class="wideBoy-title">Try Kickoff on your next project, its easy. <a href="/kickoff/learn/get.html">Download it&nbsp;now</a></h2>

		<ul class="footer-nav l-list--centred unstyled">
			<li><a href="https://github.com/tmwagency/kickoff/" data-trak='{"category":"Footer link","action":"Github link"}'>Github</a></li>
			<li><a href="https://github.com/tmwagency/kickoff/issues" data-trak='{"category":"Footer link","action":"Github issue"}'>Issues</a></li>
			<li><a href="https://github.com/tmwagency/kickoff/releases" data-trak='{"category":"Footer link","action":"Github releases"}'>Releases</a></li>
			<li><a href="http://tech.tmw.co.uk" data-trak='{"category":"Footer link","action":"tech.tmw"}'>tech.tmw</a></li>
		</ul>

		<p>Kickoff is <a href="http://github.com/tmwagency/kickoff">free and open-source</a> and maintained by <a href="http://mrmartineau.co.uk">Zander Martineau</a>, <a href="http://ashleynolan.co.uk">Ashley Nolan</a>, the <a href="http://twitter.com/tmwTechTeam">@tmwTechTeam</a> and <a href="https://github.com/tmwagency/kickoff/graphs/contributors">a few other</a> kind souls.</p>

		<p><small>If you would like to contribute to the this documentation, please see our <a href="/kickoff/learn/editing.html">editing instructions</a></small></p>
	</div>
</footer>
