<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% if page.meta.title %}
			{% assign title = page.meta.title %}
		{% else %}
			{% assign title = page.title %}
		{% endif %}
		{% if page.navgroup %}
			{% if page.navgroup == 'docs' %}
				{% assign section = ' - Kickoff Documentation' %}
			{% endif %}
			{% if page.navgroup == 'demo' %}
				{% assign section = ' - Kickoff Demos' %}
			{% endif %}
			{% if page.navgroup == 'home' %}
				{% assign section = ' - the best front-end framework around' %}
			{% endif %}
		{% endif %}
		<title>{{ title }}{{ section }}</title>

		{% if page.meta.description %}
		<meta name="description" content="{{ page.meta.description }}">
		<meta name="twitter:description" content="{{ page.meta.description }} - Kickoff is a lightweight front-end framework for creating scalable, responsive sites." />
		<meta property="og:description" content="{{ page.meta.description }} - Kickoff is a lightweight front-end framework for creating scalable, responsive sites." />
		{% else %}
		<meta name="description" content="Kickoff is a lightweight front-end framework for creating scalable, responsive sites.">
		<meta name="twitter:description" content="Kickoff is a lightweight front-end framework for creating scalable, responsive sites." />
		<meta property="og:description" content="Kickoff is a lightweight front-end framework for creating scalable, responsive sites." />
		{% endif %}

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/kickoff/css/kickoff.css">
		{% if page.css %}<link rel="stylesheet" href="{{ page.css }}">{% endif %}
		<!-- <script type="text/javascript" src="//use.typekit.net/qdb7ikf.js"></script> --> <!-- TMW shared account -->
		<script src="//use.typekit.net/alt7ogo.js"></script> <!-- Zander's personal CC account -->
		<script>try{Typekit.load();}catch(e){}</script>

		<meta name="apple-mobile-web-app-title" content="Kickoff">
		<meta name="application-name" content="Kickoff">
		<link rel="shortcut icon" href="/kickoff/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon-precomposed" href="/kickoff/apple-touch-icon.png" />
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/kickoff/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/kickoff/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/kickoff/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/kickoff/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/kickoff/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/kickoff/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/kickoff/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/kickoff/apple-touch-icon-152x152.png" />
		<link rel="icon" type="image/png" href="/kickoff/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/kickoff/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/kickoff/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#181830">
		<meta name="msapplication-TileImage" content="/kickoff/mstile-144x144.png">

		<!-- Twitter -->
		<meta name="twitter:site" content="@tmwKickoff">
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="{{ title }}" />
		<meta name="twitter:image" content="http://tmwagency.github.io/kickoff/apple-touch-icon-152x152.png" />
		<meta name="twitter:url" content="http://tmwagency.github.io{{page.url}}" />

		<!-- Open Graph data -->
		<meta property="og:title" content="{{ title }}" />
		<meta property="og:type" content="article" />
		<meta property="og:url" content="http://tmwagency.github.io{{page.url}}" />
		<meta property="og:image" content="http://tmwagency.github.io/kickoff/apple-touch-icon-152x152.png" />
	</head>
