<header class="masthead masthead-all clearfix">
	<div class="l-container">
		<h1 class="logo logoStyle"><a href="/kickoff/" data-trak='{"category":"Masthead link","action":"Logo"}'>Kick<span>off</span></a></h1>

		<nav class="nav">
			<ul class="main-nav">
				<li><a href="/kickoff/learn/"{% if page.navgroup == "docs" %} class="is-active"{% endif %} data-trak='{"category":"Masthead link","action":"Learn"}'>Getting Started</a></li>
				<li><a href="/kickoff/demos/"{% if page.navgroup == "demo" %} class="is-active"{% endif %} data-trak='{"category":"Masthead link","action":"Demos"}'>Demos</a></li>
				<li><a href="/kickoff/learn/get.html" data-trak='{"category":"Masthead link","action":"Download"}'>Download</a></li>
				<!-- <li><a href="/kickoff/blog"{% if page.navgroup == "blog" %} class="is-active"{% endif %}>Blog</a></li> -->
				<li><a href="https://github.com/tmwagency/kickoff/" target="_blank" data-icon-after="&#59157;" data-trak='{"category":"Masthead link","action":"Repo"}'>View on Github</a></li>
			</ul>
		</nav>
	</div>
</header>
