hr {
	margin: 70px;
}


/**
 * Default layout container
 */
.l-container {
	width: 90%;
	max-width: #{$layout-max-width}px;
	margin: 0 auto;
}

/* ==========================================================================
   Masthead
   ========================================================================== */
.masthead {
	position: relative;
	z-index: 100;
	background-color: $color-primary;
	color: #fff;

	@include media('>mid') {
		line-height: 45px;

		&--home .l-container {
			justify-content: flex-end !important;
		}

		.l-container {
			padding: 0;
			line-height: 50px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			text-align: right;
		}
	}

	&--home {
		padding-top: 20px;
	}
}

.masthead-logo {
	font-weight: normal;
	padding: 0.3em 0;
	margin: 0;
	@include ko-font-size(30);
	line-height: 1.5;

	@include media('>mid') {
		float: left;
	}

	&.hide {
		display: none;
	}
}

.logoStyle {
	font-style: italic;
	font-weight: 700 !important;
	letter-spacing: -0.01em;

	&, a:link, a:visited {
		color: #fff;
	}

	span {
		color: $color-secondary;
	}
}

.nav {
	@include media('>mid') {
		float: right;
		position: relative;
	}
}

.main-nav {
	@extend .unstyled;

	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track {
		display: none !important;
	}

	> li {
		display: inline-block;
		position: relative;
	}
}

.nav-item {
	position: relative;
	display: inline-block;
	padding: 0 .5em;
	@include ko-font-size(13);
	vertical-align: top;
	text-transform: uppercase;

	@include media('>mid') {
		@include ko-font-size(small);
		line-height: 50px;
		height: 53px;
	}

	&,
	&:link,
	&:visited {
		color: #fff;
	}

	&:hover,
	&.is-active:hover {
		color: $color-secondary;
	}

	&.is-active {
		color: $color-secondary;
	}
}

.has-subNav:hover {
	.nav-item-dropdown {
		opacity: 1;
		visibility: visible;
		transform: translate3d(-50%, 0px, 0);
	}

}

.nav-item-dropdown {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate3d(-50%, -5px, 0);
	@include ko-font-size(15);
	text-align: left;
	padding: 3px 6px;
	background-color: #fff;
	border-radius: 3px;
	transition: $default-transition;
	width: 250px;
	opacity: 0;
	visibility: hidden;

	&::before {
		content: '';
		position: absolute;
		bottom: 100%;
		left: 50%;
		margin-left: -8px;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 8px 8px 8px;
		border-color: transparent transparent #fff transparent;
	}
}

.nav-subItem {
	display: block;
	line-height: 1.5;
	padding: 2px;
}

.nav-releases {
	border-top: 1px solid rgba(#000, 0.3);
}

.github-link {
	background-color: darken($color-primary, 20%);
}

// Footer
.footer {
	padding-top: 20px;
	padding: 40px 0;
	background-color: $color-primary;
	color: #fff;

	a:link,
	a:visited {
		color: $color-secondary;
	}

	a:link,
	a:visited {
		border-bottom: 2px solid rgba(#fff, 0.7);
		white-space: pre;
	}

	a:hover {
		opacity: .5;
	}

	p {
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
	}
}

.footer-nav {
	margin-bottom: 1em;

	li {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.social-links a {
	display: block;
	margin-bottom: 5px;
}


/* ==========================================================================
   Home page
   ========================================================================== */
.wideBoy {
	padding: 10% 0;

	&--hero {
		margin-bottom: $baseline;
	}
}

.wideBoy-title {
	position: relative;
	margin: 0;
	padding-bottom: .5em;
	font-style: italic;

	@include media('>mid') {
		&--icon {
			position: relative;
			padding-left: 60px;
		}
	}

	@include media('>mid') {
		@include ko-font-size(large);
	}

	@include media('>wide') {
		@include ko-font-size(jumbo);
	}
}

.wideBoy-subtitle {
	margin-top: 0;
	margin-bottom: .5em;
	@include ko-font-size(base);
	line-height: 1.4;

	@include media('>mid') {
		@include ko-font-size(mid);
	}

	// @include media('>wide') {
	// 	@include ko-font-size(large);
	// }
}

.wideBoy--bright {
	& {
		color: $color-primary;
	}
}

.wideBoy--dark {
	& {
		color: #fff;
	}
}

.bigLink {
	@include ko-font-size(base);
	padding: 1.6em 0;
	background-color: $color-primary;
	display: block;

	.l-container {
		display: flex;
		align-items: center;
	}

	&,
	&:link,
	&:visited {
		color: #fff;
	}

	&:hover {
		background-color: darken($color-primary, 10%);
	}

	&--secondary {
		background-color: $color-secondary;

		&:hover {
			background-color: darken($color-secondary, 10%);
		}
	}

	img {
		background-size: contain;
		display: inline-block;
		max-width: 50px;
		margin-right: 1em;
	}
}

.slackMini {
	background: url('#{$img-path}/ui/slack_monochrome_white.png') center center no-repeat;
	display: inline-block;
	background-size: contain;
	width: 80px;
	height: 50px;
}

.yo {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	width: 50px;
	height: 50px;
	background: url('#{$img-path}/ui/yeoman.png') left top no-repeat;
	background-size: 100%;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;

	@include media('<mid') {
		display: none;
	}
}


.bigBoy {

	@include media('>mid') {
		h1 {
			margin-bottom: 0.5em;
		}

		h2 {
			@include ko-font-size(28);
		}

		p {
			font-size: 150%;
		}
	}
}

.wideBoy-info {
	font-size: 90% !important;
	margin-top: $baseline;
	margin-bottom: 0;
}

.primary {
	background-color: $color-primary;
	color: #fff;
}

.page-home .primary {
	margin-bottom: 0;
}

.btn--site {
	height: auto;
	padding: 0.5em;
	line-height: 1;
	background-color: rgba(#fff, 0);
	@include ko-font-size(small);
	text-transform: uppercase;

	&:focus,
	&:hover {
		background-color: rgba(#fff, 0.3);
	}

	&:active {
		background-color: rgba(#fff, 0.7);
	}

	&--dark {
		background-color: rgba($color-primary, 0.8);

		&:focus,
		&:hover,
		&:active {
			background-color: $color-primary;
		}
	}
}

.btn--hollow {
	border: 2px solid;
	background-color: transparent;
	line-height: 2.3;

	&:hover {
		background-color: rgba(#fff, .2);
	}
}

.linkList {
	margin: 30px 0;
}

.contribute {
	background-color: $gray;
	overflow: hidden;
}

figure {
	margin: 0;
}


/*
   Showcase
   ========================================================================== */
.showcase {
	background-color: $blue;

	:last-child {
		margin-bottom: 0;
	}
}

.showcaseList {
	text-align: center;

		&, & a, &:visited {
			color: $color-link-default;
		}

	@include media('>mid') {
		li {
			margin-bottom: 0px;
		}
	}

	figure {
		background-color: #fff;
		max-width: 475px;
		margin: 0 auto;
		display: block;
		position: relative;
	}

	li {
		// margin-bottom: 20px;
		padding: 5px;
	}

	figcaption {
		// line-height: 2;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: rgba($color-primary, .8);
		padding: 0.3em;
		text-align: left;
		color: #fff;
		// opacity: 0;
		@include ko-font-size(micro);
		font-style: italic;
		font-family: $font-family-alt;
		line-height: 1;

		@include media('>mid') {
			@include ko-font-size(small);
		}
	}

	img {
		display: block;
	}

	a {
		display: block;
		&:hover {
			color: $color-link-hover;
		}
	}
}

.used {
	// margin-top: $baseline;
	background-color: darken($blue, 5%);
	padding: 1.5em;

	p {
		margin-bottom: 0;
	}
}

.statixLogo {
	max-width: 400px;
	width: 80%;
	margin: 0 auto;
	display: block;
}
/* ==========================================================================
   Next block
   ========================================================================== */
.nextTitle {
	font-style: italic;
	font-weight: normal;
	text-align: center;
	border-top: 10px solid #181830;
	margin-bottom: 0;
	line-height: 55px;
	height: 70px;
	margin-top: $baseline * 2;
}
.blockLinks {
	background-color: $color-primary;
	margin-bottom: $baseline;
}
.blockLink {
	padding: 1em;
	display: block;
	color: #fff;

	h3 {
		font-weight: normal;
		font-style: italic;
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0;
	}

	code {
		background-color: $blue;
	}
}


/* ==========================================================================
   Demos
   ========================================================================== */
.media--link {
	display: block;

	.asset-font {
		width: 200px;
		@include ko-font-size(100);
	}
}

.demo {
	position: relative;
	border: 1px solid #ddd;

	& + & {
		margin-top: 50px;
	}

	// Only show code snippet when needed
	&.show-code {

		.demo-code {
			display: block;
		}

		.demo-src {
			display: inline-block;
		}

		.demo-visual {
			padding: $baseline;
		}
	}
}

.demo-src {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	@include ko-font-size(micro);
	text-align: right;
	padding: 1px 5px;

	&,
	&:link,
	&:visited {
		color: #a0a0a0;
		background-color: #f0f0f0;
	}

	&:hover {
		background-color: #ddd;
	}
}



.g-content--tall {
	min-height: 100px;
}

.demo-visual {
	line-height: 1.5;
	transition: all 300ms cubic-bezier(0.455, 0.030, 0.515, 0.955);
	padding: $baseline / 2;

	h3 {
		margin-bottom: 5px;
	}

	code {
		white-space: pre;
	}
}

.demo-code {
	display: none;

	pre {
		margin-bottom: 0;
		max-height: 400px;
		overflow: auto;
	}
}

.demo-code--simple {
	display: block !important;
}

@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.woff?iigrq6') format('woff');
	font-weight: normal;
	font-style: normal;
}

.demoHeading {
	position: relative;
	padding-right: 30px;
}

.demoHeading-showCodeBtn {
	margin-left: 20px;
	vertical-align: middle;
	color: $color-secondary;
	cursor: pointer;

	&:hover,
	&.is-active {
		color: darken($color-primary, 15%);
	}

	&:after {
		content: '\e900';
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

/**
 * Grid demos
 */
.show-grid-button {
	margin: 0 auto $baseline;
	display: block;
}

.grid-block-link {
	display: block;
	min-height: 130px;
	text-align: center;

	&:hover {
		background-color: $color-primary;
		color: #fff;
	}

	h3 {
		margin-top: 0;
	}

	.asset-font {
		@include ko-font-size(150);
		line-height: 60px;
		height: 70px;
	}

	:last-child {
		margin-bottom: 0;
	}
}

// Choreographic Grid Demo
.show-grid .grid-test .g-col,
.g-content {
	background-color: rgba($color-primary,0.05);
	border: 1px solid rgba(#000, 0.2);
}
// .g--demo {
// 	& .g-content {
// 		border: 1px solid $color-primary;
// 		background-color: $gray;
// 		color: #fff;
// 	}
// }

.show-grid .grid-test.g-row {
	margin-bottom: 20px;
}
.show-grid .grid-test .g-split .g-col {
	background-color: rgba($blue, 0.3);
}
.show-grid .grid-test .g-shunt {
	background-color: rgba($red, 0.2);
}
.show-grid .grid-test [class*="g-pull"] {
	background-color: rgba($green, 0.3);
}
.show-grid .grid-test [class*="g-push"] {
	background-color: rgba($yellow, 0.3);
}
.show-grid .grid-test [class*="g-offset"] {
	background-color: rgba($color-primary, 0.4);
}

.grid-test .g-col.g-col--centered {
	text-align: center;
}

.class-tag {
	display: none;
}

.entry {
	max-width: 700px;

	& + & {
		margin-top: $baseline * 3;
		border-top: 2px solid #ddd;
		padding-top: $baseline;
	}
}

// .title {
// 	margin-bottom: ($baseline * 2);
// }

// .title-item {
// 	margin-bottom: 0;
// }

.title-primary,
.entry-title {
	position: relative;
}

.entry-title-date,
.title-primary-date {
	position: absolute;
	bottom: 100%;
	font-family: $font-family-mono;
	@include ko-font-size(micro);
	font-style: normal;
	left: 0;
	opacity: .6;
}

// .entry-title {
// 	margin-bottom: $baseline * 2;
// }

.pagination {
	margin: ($baseline * 2) auto;
	max-width: 700px;
	font-weight: bold;
	text-transform: uppercase;
}

.latestNews {
	background-color: $color-primary;
}

/**
 * Docs/demo sidebar navigation
 */
.sidebar-nav {
	margin-bottom: 1em;

	a {
		// font-family: $font-family-alt;
		// font-style: italic;
		padding: .2em .5em .3em;
		border-left: 3px solid;
		display: block;
	}
	.is-active {
		background-color: $color-primary;
		border-color: $color-primary;
		color: #fff;
	}
}
.sidebar-subnav {
	margin-left: 1em;
}

// Docs disclaimer
.docs-footer {
	background-color: #FEFFDA;
	padding: 15px;
	text-align: center;
}

/**
 * Checklist page
 */
.well {
	min-height: 90px;
	padding: 30px;
	background-color: #f0f0f0;
	// margin: 0px -30px 0px;
	color: #333;

	code, pre {
		background-color: #fff;
		@include ko-font-size(14);
		white-space: pre;
	}
}

.well--inner {
	margin-left: 0;
	margin-right: 0;
}

.checklistInfo {
	margin-bottom: 15px;
	margin-left: 30px;
	font-size: $font-size-base-px - 3;

	li {
		margin-bottom: 0.2em;
	}
}

.sectionSplitter {
	border-top-width: 5px;
	border-bottom: none;
	margin: $baseline * 2;
}

.btn--secondary {
	background-color: $color-primary;

	&,
	&:link,
	&:visited {
		color: #fff;
	}

	&:hover,
	&:active,
	&:focus {
		background-color: darken($color-primary, 15%);
	}
}

@include media('<mid') {
	.github-logo {
		display: none;
	}
}

.code-lrg {
	display: block;
	position: relative;

	&:before {
		content: attr(data-before);
		position: absolute;
		bottom: 100%;
		left: 0;
		display: inline-block;
	}
}

.btn--bright {
	background-color: transparent;
	border: 3px solid #fff;
	line-height: 3.2;
	font-weight: bold;

	&,
	&:link,
	&:visited {
		color: #fff;
	}

	&:hover,
	&:active,
	&:focus {
		border-color: darken($orange, 20%);
		background-color: transparent;
		// color: darken($orange, 20%) !important;
	}
}

// Button Modifiers
// --------------------------------------------------
// These all follow the same sizing rules as above; text is 1em, space around it
// Large
.btn--large {
	@include ko-font-size(large);
	line-height: 3;
	height:     3em;
	padding-right:2em;
	padding-left: 2em;
	border-radius: 6px;
}

// Small
.btn--small {
	@include ko-font-size(small);
	line-height:1.5;
	height: 1.5em;
	padding-right:0.75em;
	padding-left: 0.75em;
	border-radius: 3px;
}
