---
layout: default
---
<section class="title wideBoy primary wideBoy--dark">
	<h1 class="title-item title-primary">{{ page.title }}</h1>
	{% if page.subtitle %}<h2 class="title-item title-secondary">{{ page.subtitle }}</h2>{% endif %}
</section>

<div class="l-container">
	<div class="g-row">
		<div class="g-span3 g-col">
			<ul class="sidebar-nav unstyled">
				{% include demonav.html %}
			</ul>
		</div>
		<div class="g-span9 g-col">
			<article>
				{{ content }}
			</article>

			{% if page.next %}
				<h3 class="nextTitle">Where next?</h3>
				<ul class="blockLinks l-blockGrid l-blockGrid--2up">
					{% for item in page.next %}
					<li>
						{% if item.link %}
							<a href="{{ item.link }}" class="blockLink">
						{% else %}
							<div class="blockLink">
						{% endif %}

							<h3>{{ item.title }}</h3>
							{{ item.body | markdownify }}

						{% if item.link %}
							</a>
						{% else %}
							</div>
						{% endif %}
						</a>
					</li>
					{% endfor %}
				</ul>
			{% endif %}

		</div>
	</div>
</div>
{% include docshelp.html %}
