---
layout: default
---
{% include title.html title=page.title subtitle=page.subtitle %}

<div class="l-container">
	<div class="g g--gutter g--stack">
		<div class="g-span3--mid g-col">
			{% include demonav.html %}
		</div>
		<div class="g-span9--mid g-col">
			<article>
				{{ content }}
			</article>

			{% if page.next %}
				<h3 class="nextTitle">Where next?</h3>
				<div class="blockLinks g g--stack">
					{% for item in page.next %}
					<div class="g-col g-span6--mid">
						{% if item.link %}
							<a href="{{ item.link }}" class="blockLink">
						{% else %}
							<div class="blockLink">
						{% endif %}

							<h3>{{ item.title }}</h3>

						{% if item.link %}
							</a>
						{% else %}
							</div>
						{% endif %}
						</a>
					</div>
					{% endfor %}
				</div>
			{% endif %}

		</div>
	</div>
</div>
{% include docshelp.html %}
