---
layout: default
---

<section class="wideBoy primary wideBoy--dark">
	<div class="l-container">
		<h1 class="entryTitle">{{ page.title }}
			<time class="entryTitle-date">{{ page.date | date: "%-d %B %Y" }}</time>
		</h1>
	</div>
</section>

<div class="l-container entries">
	<article class="entry">

		{{ content }}

	</article>

	<!-- Pagination links -->
	<div class="pagination">
		{% if page.previous %}
			<a href="{{page.previous.url}}">Previous post</a>
		{% endif %}
		{% if page.next %}
			<a href="{{page.next.url}}">Next post</a>
		{% endif %}
	</div>
</div>



