---
layout: default
---

<section class="title wideBoy primary wideBoy--dark">
	<h1 class="title-item title-primary">
		{{ page.title }}
		<time class="title-primary-date">{{ page.date | date: "%-d %B %Y" }}</time>
	</h1>
	{% if page.subtitle %}<h2 class="title-item title-secondary">{{ page.subtitle }}</h2>{% endif %}
</section>


<div class="l-container entries">
	<article class="entry">

		{{ content }}

	</article>

	<!-- Pagination links -->
	<div class="pagination">
		{% if page.previous %}
			<a href="{{page.previous.url}}">Previous post</a>
		{% endif %}
		{% if page.next %}
			<a href="{{page.next.url}}">Next post</a>
		{% endif %}
	</div>
</div>



