{% include html_start.html %}

	<body{% if page.body-class %} class="{{ page.body-class }}"{% endif %}{% if page.prettyprint == true %} onload="prettyPrint()"{% endif %}>

		<!--  === MASTHEAD ===  -->
		{% include masthead.html %}

		<section class="title wideBoy primary wideBoy--dark">
			<h1 class="title-item title-primary">{{ page.title }}</h1>
			{% if page.subtitle %}<h2 class="title-item title-secondary">{{ page.subtitle }}</h2>{% endif %}
		</section>

		<!--  === MAIN CONTENT ===  -->
		<section role="main">
			<article class="l-container entry">
				{{ content }}
			</article>
		</section>

{% include html_end.html %}
